doctype html

html
	head
		meta(charset='utf8')
		title STL viewer
		link(rel='stylesheet', href='style.css')
	body(ng-app='stlviewer')
		div(ng-controller='viewer')
			stl-viewer(data='stl.triangles', orientation='view.orientation', zoom='view.zoom', width='view.size', height='view.size', projection='view.projection')
			div.controls
				label
					| Projection:
					select(ng-options='key as value for (key, value) in projections', ng-model='view.projection')
				span.rotation
					label
						| Orientation:
					br
					button(ng-mousedown='methods.setRotation(-1, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◤
					button(ng-mousedown='methods.setRotation( 0, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▲
					button(ng-mousedown='methods.setRotation(+1, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◥
					br
					button(ng-mousedown='methods.setRotation(-1,  0, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◀
					button(ng-mousedown='methods.reset();') ×
					button(ng-mousedown='methods.setRotation(+1,  0, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▶
					br
					button(ng-mousedown='methods.setRotation(-1, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◣
					button(ng-mousedown='methods.setRotation( 0, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▼
					button(ng-mousedown='methods.setRotation(+1, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◢
					br
					button(ng-mousedown='methods.setRotation( 0, 0, -1);', ng-mouseup='methods.setRotation(0, 0, 0);') ↻
					button(ng-mousedown='methods.setRotation( 0, 0, +1);', ng-mouseup='methods.setRotation(0, 0, 0);') ↺
				span.zoom(ng-if='view.projection==="perspective"')
					label
						| Zoom:
					br
					button(ng-mousedown='methods.setZooming(-1);', ng-mouseup='methods.setZooming(0, 0);') -
					input(disabled, type='text', value='{{methods.strZoom()}}')
					button(ng-mousedown='methods.setZooming(+1);', ng-mouseup='methods.setZooming(0, 0);') +

		link(rel='stylesheet', href='vendor.css')
		script(src='vendor.js')
		script(src='client.js')
