doctype html

html

	head
		meta(charset='utf8')
		title STL viewer
		link(rel='stylesheet', href='style.css')

	body(ng-app='stlviewer', ng-controller='viewer')

		div(stl-viewer, data='stl.triangles', orientation='view.orientation', zoom='view.zoom', width='view.size', height='view.size', projection='view.projection', bad-wireframe='view.wireframe', shader='view.shader')

		.controls

			.model-selection
				label
					span.section Model
					select(ng-options='mod as mod.name for mod in repository.list', ng-change='methods.loadModel()', ng-model='repository.active')
				button(onclick='window.location.hash="uploader";')
					| Open...

			label(style='display: none')
				span.section Render options:
				span
					input(type='checkbox', ng-model='view.wireframe')
					| Bad wireframe:

			label
				span.section Projection:
				form
					span(ng-repeat='(key, value) in projections')
						label
							input(type='radio', ng-model='view.projection', ng-value='key', name='projection')
							| {{ value }}

			.rotation
				label
					span.section Orientation:
				.square.buttons
					span
						button(ng-mousedown='methods.setRotation(-1, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◤
						button(ng-mousedown='methods.setRotation( 0, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▲
						button(ng-mousedown='methods.setRotation(+1, -1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◥
					span
						button(ng-mousedown='methods.setRotation(-1,  0, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◀
						button(ng-mousedown='methods.reset();') ×
						button(ng-mousedown='methods.setRotation(+1,  0, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▶
					span
						button(ng-mousedown='methods.setRotation(-1, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◣
						button(ng-mousedown='methods.setRotation( 0, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ▼
						button(ng-mousedown='methods.setRotation(+1, +1, 0);', ng-mouseup='methods.setRotation(0, 0, 0);') ◢
					span
						button(ng-mousedown='methods.setRotation( 0, 0, -1);', ng-mouseup='methods.setRotation(0, 0, 0);') ↻
						button(ng-mousedown='methods.setRotation( 0, 0, +1);', ng-mouseup='methods.setRotation(0, 0, 0);') ↺

			.zoom(ng-if='view.projection==="perspective"')
				label
					span.section Zoom:
				button(ng-mousedown='methods.setZooming(-1);', ng-mouseup='methods.setZooming(0, 0);') -
				input(disabled, type='text', value='{{methods.strZoom()}}')
				button(ng-mousedown='methods.setZooming(+1);', ng-mouseup='methods.setZooming(0, 0);') +

			.shader
				label
					span.section Visualisation:
				form
					span(ng-repeat='(key, value) in shaders')
						label
							input(type='radio', ng-model='view.shader', ng-value='key', name='shader')
							| {{ value }}

		form#uploader.modal-container(ng-controller='uploader')
			.modal-center
				.modal
					a.close-button(href='#')
					h1 Open file
					input(file-select, type='file', accept='.stl',
					on-loaded='uploader.loadFile(name, content)',
					on-progress='uploader.percent = percent')

					.progress-widget(ng-hide='uploader.percent === 0')
						.progress-bar(ng-style='{ width: (uploader.percent + "%") }')

		script(src='vendor.js')
		script(src='client.js')
